apiVersion: 1

datasources:
  - name: {{ monitoring_stack_grafana_datasource_name }}
    type: prometheus
    access: proxy
    url: {{ monitoring_stack_grafana_datasource_url }}
    isDefault: true
    editable: true